.project_bar{
    height: 100vh;
    width: 100%;
    background-color: white;
    align-items: center;
    background-color: black;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.project_bar main{
    height: 60%;
    border-radius: 20px;

    width: 25%;
  background-color: white;
  margin: 10px;
  border-bottom: 10px solid rgb(185, 174, 16);
}


