
*{
    box-sizing: border-box;
    margin: 0px;
    width: 100vw;
    
}


.body{
    width: 100vw;
    margin: 0px;
    font-size: 1em;
    background-color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}